<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/angular");

    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>

    <link href="http://yandex.st/highlightjs/8.0/styles/github.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" type="text/css"/>
    

    <script type="text/javascript" src="~/Scripts/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="~/Scripts/wizMarkdown/wizMarkdown.min.js"></script>
    <script type="text/javascript" src="~/Scripts/youtube-directive/angular-youtube-embed.min.js"></script>
    <script type="text/javascript" src="~/Scripts/rating/ionic-rating.min.js"></script>
    <script type="text/javascript" src="~/Scripts/App/app.js"></script>
    <script type="text/javascript" src="~/Scripts/App/controllers/MarkdownController.js"></script>
    <script type="text/javascript" src="~/Scripts/App/directives/directives.js"></script>
    <script type="text/javascript" src="~/Scripts/App/interfaces/interfaces.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
